/* Untuk Tablet */
@media all and (max-width: 1000px) {

    .container {
        width: 100%;
    }

    /* ===============HEADER================= */
    .header {
        top: 0;
    }

    .header-right {
        margin-right: 20px;
    }

    /* =========== SLIDESHOW =========== */
    .slideshow {
        width: 100%;
        background-position: center;
    }

    /* =========== PROFIL KAMI =========== */
    .profile-atas,
    .profile-bawah {
        width: 90%;
        height: auto;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .card {
        width: 90%;
        height: auto;
    }

    .box {
        height: auto;
    }
}



/* Untuk Smartphone */
@media all and (max-width: 670px) {

    .container {
        width: 100%;
    }

    /* ===============HEADER================= */
    /* punya ayumal 
    .header-right {
        display: none;
    }

    .container .menu-icon {
        display: block;
    } */

    label {
        display: block;
        cursor: pointer;

    }

    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }

    .menu a {
        display: inline-block;
        border-bottom: 1px solid #EAEAEB;
        margin-top: 30px;
        /* padding-right: 10px; */
    }

    #toggle:checked~.menu {
        display: block;
    }

    /* =========== SLIDESHOW =========== */
    .container {
        width: 100%;
    }

    .slideshow {
        width: 100%;
        background-position: center;

    }

    /* =========== PROFIL KAMI =========== */
    .profile-atas,
    .profile-bawah {
        width: 90%;
        height: auto;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .card {
        width: 90%;
        height: auto;
    }

    .box {
        height: auto;
    }

}