/* Untuk Tablet */
@media all and (max-width: 1000px) {

    /*slide show*/
    .container {
        width: 100%;
        margin-bottom: 50px;
    }

    /* Slideshow */
    .slideshow {
        width: 100%;
        background-position: center;
    }

    .profile-atas,
    .profile-bawah {
        width: 90%;
        height: auto;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .card {
        width: 90%;
        height: auto;
    }

    .box {
        height: auto;
    }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {

    /*header*/
    .header-right {
        display: none;
    }

    .container .menu-icon {
        display: block;
    }

    /*slide show*/
    .container {
        width: 100%;
    }

    .slideshow {
        width: 100%;
        background-position: center;

    }

    .profile-atas,
    .profile-bawah {
        width: 90%;
        height: auto;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .card {
        width: 90%;
        height: auto;
    }

    .box {
        height: auto;
    }
}