/* =============== CSS RESET =============== */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Source+Sans+Pro&display=swap');

html {
    scroll-behavior: smooth;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Fira Sans', sans-serif;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

/*
body {
    line-height: 1;
    
}*/

ol,
ul,
    {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* =============== CSS RESET =============== */

/* =============== UMUM ================= */
@font-face {
    font-family: neue;
    src: url(../font/BebasNeue-Regular.woff);
}

/* punya ayumal
.header-right span,
h1 {
    font-family: neue;
} */

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-family: neue;
}

.container {
    max-width: 1052px;
    margin: 0px auto;
}

/* =============== UMUM ================= */

/* ===============HEADER================= */

/* punya ayumal
* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: cadetblue;
}

a {
    text-decoration: none;
}

header {
    height: 65px;
    width: 100%;
    z-index: 10;
}

.header-left {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
}

.logo {
    width: 120px;
    margin-top: 20px;
}

.header-right {
    float: right;
    font-family: neue;
}

.header-right a {
    line-height: 75px;
    padding: 0 30px;
    display: block;
    float: left;
    transition: all 0.5s;
}

.header-right span {
    font-size: 23px;
    color: black;
    letter-spacing: 1px;
}

.header-right a:hover {
    background-color: #F1D7CF;
    border-radius: 40%;
}

.container .menu-icon {
    color: black;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    margin-right: 20px;
    display: none;
} */

/* .header-right span {
    font-size: 23px;
    color: black;
    letter-spacing: 1px;
} */

.nav {
    border-bottom: 1px solid #EAEAEB;
    /* text-align: right; */
    height: 70px;
    line-height: 70px;
    display: flex;
    justify-content: space-between;
}

.logo {
    margin: 10px 0 0 10px;

}

.menu {
    /* margin: 0 30px 0 0; */
}

.menu a {
    /* clear: right; */
    text-decoration: none;
    /* color: gray; */
    line-height: 70px;
    font-size: 23px;
    color: black;
    letter-spacing: 1px;
    font-family: neue;
}

.menu a:nth-child(1) {
    margin-right: 40px;
}


label {
    margin: 0;
    font-size: 26px;
    line-height: 67px;
    display: none;
    width: 26px;
    float: right;
}

#toggle {
    display: none;
}



/* ===============HEADER================= */


/* =========== SLIDESHOW =========== */
.slideshow {
    height: 550px;
    background-image: url(../img/bg-img-slideshow.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
    margin-bottom: 70px;
    margin-top: -71px;
}

.slideshow .slider {
    width: 400px;
    height: 300px;
    margin: 65px auto;
    padding-top: 70px;
}

.image {
    background-image: url(../img/aso.jpg);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid rgb(71, 71, 71);
    margin: 0 auto;
    animation: 40s animasi ease infinite;
}

@keyframes animasi {
    0% {
        background-image: url(../img/aso-thumb.jpg);
    }

    20% {
        background-image: url(../img/ayuagst.png);
    }

    40% {
        background-image: url(../img/foto_profil_aziz.png);
    }

    60% {
        background-image: url(../img/ayumal-thumb.jpg);
    }

    80% {
        background-image: url(../img/arkhan.jpg);
    }

    100% {
        background-image: url(../img/aso-thumb.jpg);
    }
}

.text-slideshow {
    position: relative;
    height: 250px;
}

.text-slideshow p {
    margin-top: 60px;
    text-align: center;
    font-size: 45px;
    text-shadow: 0px 2px 2px rgb(66, 65, 65);

}

.text-slideshow .panel {
    width: 100%;
    height: 100px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
}

/* =========== SLIDESHOW =========== */



/* =========== PROFIL KAMI =========== */
h1 {
    text-align: center;
    padding-top: 156px;
    padding-bottom: 15px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(39, 113, 170);
    /* background-color: salmon; */
}

.profile li {
    text-decoration: none;
    list-style-type: none;
}

.profile {
    margin-top: -70px;
    width: 100%;
    height: auto;
    background-color: white;
    padding-bottom: 40px;
}

.card img {
    width: 120px;
    padding: 10px;
    border-radius: 50%;
    margin: auto;
}

.profile-atas {
    width: 75%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.profile-bawah {
    width: 50%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.card {
    width: 100%;
    height: auto;
    margin: 20px;
    border-radius: 10px;
    background-color: #3C89C5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
    text-align: center;
}

.box h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: rgb(39, 113, 170);
    padding-bottom: 5px;
}

figcaption a {
    font-weight: bold;
    color: rgb(39, 113, 170);
}

.box {
    height: 400px;
    background-color: rgb(206, 190, 178);
    font-size: 14px;
    text-align: justify;
    padding: 20px;
    border-radius: 10px;
}

/* =========== PROFIL KAMI =========== */


/* =========== PORTFOLIO >>>>>>>>>>>>> */
.portfolio {
    display: table;
    width: 100%;
    max-width: 1300px;
	background-color: white;
    margin: 0 auto;
}

.portfolio .gallery {
  border: 1px solid #ccc;
  border-radius: 7px;
  opacity:0.95;
}

.portfolio .gallery:hover {
  border: 1px solid #777;
  opacity:1;
}

.portfolio .gallery img {
	width:100%;
	height:200px;
	border-radius: 7px 7px 0 0;
	object-fit: cover;
}

.portfolio .desc {
	padding-top: 6px;
	padding-bottom: 10px;
	text-align: center;
	font-weight: bold;
}
.portfolio-list .stats {
	text-align: right;
	padding-top: 6px;
	padding-bottom: 10px;
	border-radius: 0 0 7px 7px;
	background-color:rgb(240,240,240);
}

.portfolio-list .stats a {
	color: gray;
	padding-right: 6px;
}

.portfolio-list .stats a span {
	padding-right: 3px;
}

.portfolio-list .stats a:hover {
	color:rgb(50,50,50);
}

.portfolio-list .stats a .fa-comment:hover {
	color:#D5913E;
}
.portfolio-list .stats a .fa-heart:hover {
	color:red;
}

/* <<<<<<<<<<<<<< PORTFOLIO =============== */

/* =========== FOOTER =========== */

footer {
    background-color: #EBE9ED;
    margin-top: 70px;
}

.footer-logo {
    text-align: center;
    padding: 10px 0;
}

.footer-list ul {
    display: flex;
    justify-content: space-around;
}

.footer-list a,
.footer-copyrigth p {
    color: black;
    font-family: neue;
}

.footer-copyrigth p {
    font-size: 14px;
    text-align: center;
    padding: 20px;
}

/* =========== FOOTER =========== */