/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Source+Sans+Pro&display=swap');

html {
    scroll-behavior: smooth;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Fira Sans', sans-serif;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

/*
body {
    line-height: 1;
    
}*/

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* =============== CSS RESET =============== */


.container {
    max-width: 1052px;
    /* padding: 0 15px; */
    margin: 0px auto;
}


/* ===============HEADER================= */

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: cadetblue;
}

a {
    text-decoration: none;
}

.clear {
    clear: left;
}

header {
    height: 65px;
    width: 100%;
    background-color: #f8c291;
    position: fixed;
    top: 0;
    z-index: 10;
}

.header-left {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
}

.logo {
    width: 120px;
    margin-top: 20px;
}

.header-right {
    float: right;
    margin-right: -25px;
}

.header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
}

.header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display: none;
}

.fa {
    margin-right: 5px;
}

/* =========== SLIDESHOW =========== */
.slideshow {
    height: 450px;
    background-image: url(../img/bg-img-slideshow.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
    margin-bottom: 70px;
}

.slideshow .slider {
    width: 400px;
    height: 300px;
    margin: 0 auto;
    padding-top: 70px;
}

.image {
    background-image: url(../img/aso.jpg);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid rgb(71, 71, 71);
    margin: 0 auto;
    animation: 40s animasi ease infinite;
}

@keyframes animasi {
    0% {
        background-image: url(../img/aso-thumb.jpg);
    }

    20% {
        background-image: url(../img/ayuagst.png);
    }

    40% {
        background-image: url(../img/foto_profil_aziz.png);
    }

    60% {
        background-image: url(../img/ayumal-thumb.jpg);
    }

    80% {
        background-image: url(../img/arkhan.jpg);
    }

    100% {
        background-image: url(../img/aso-thumb.jpg);
    }
}

.text-slideshow {
    position: relative;
    height: 230px;
}

.text-slideshow p {
    margin-top: 60px;
    text-align: center;
    font-size: 45px;
    text-shadow: 0px 2px 2px rgb(66, 65, 65);
}

.text-slideshow .panel {
    width: 100%;
    height: 100px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
}


/* =========== PROFIL KAMI =========== */
h1 {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 15px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(39, 113, 170);
}

.profile li {
    text-decoration: none;
    list-style-type: none;
}

.profile {
    margin: 0;
    width: 100%;
    height: auto;
    background-color: #EAE9EE;
    padding-bottom: 40px;
}

.card img {
    width: 120px;
    padding: 10px;
    border-radius: 50%;
    margin: auto;
}

.profile-atas {
    width: 75%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.profile-bawah {
    width: 50%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.card {
    width: 100%;
    height: auto;
    margin: 20px;
    border-radius: 10px;
    background-color: #3C89C5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
    text-align: center;
}

.box h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: rgb(39, 113, 170);
    padding-bottom: 5px;
}

figcaption a {
    font-weight: bold;
    color: rgb(39, 113, 170);
}

.box {
    height: 400px;
    background-color: rgb(206, 190, 178);
    font-size: 14px;
    text-align: justify;
    padding: 20px;
    border-radius: 10px;
}

/* NYOBA DULU*/
/*
.portfolio{
	display: table;
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	text-align: center;
}

.portfolio .box{
	display: table-cell;
	vertical-align: top;
	padding: 5px;
}

.portfolio .box img{
	width:100%;
	height: auto;
	border-radius: 5px;
	border: 2px solid #eee;
}
.portfolio .box img:hover{
	opacity: .8;
}
*/
.footer-logo {
    width: 100%;
    height: 65px;
    background-color: fuchsia;
    margin: 0 auto;
    padding: 0;
}

/*coba slider*/
.porfolio-slider { 
	border: 10px solid rgb(206, 190, 178);
	position: relative; 
	overflow: hidden; 
	background: rgb(206, 190, 178);
}

.porfolio-slider { 
	margin:20px auto;
	width: 768px;
	height: 450px; 
}

.content-slider img { 
	width: 768px;
	height: auto; 
	float: left;
}

.content-slider { 
	position: absolute; 
	width:100%;  

	/*pengaturan durasi lama tampil gambar bisa di atur di bawah ini*/
	animation-name:slider;
	animation-duration:8s;
	animation-timing-function: ease-in-out;
	animation-iteration-count:infinite;
	-webkit-animation-name:slider;
	-webkit-animation-duration:8s;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count:infinite;
	-moz-animation-name:slider;
	-moz-animation-duration:8s;
	-moz-animation-timing-function: ease-in-out;
	-moz-animation-iteration-count:infinite;
	-o-animation-name:slider;
	-o-animation-duration:16s;
	-o-animation-timing-function: ease-in-out;
	-o-animation-iteration-count:infinite;
}


/*saat gambar di hover oleh cursor mouse maka berhenti slide*/
.content-slider:hover { 
	-webkit-animation-play-state:paused; 
	-moz-animation-play-state:paused; 
	-o-animation-play-state:paused; 
	animation-play-state:paused; }
}

.content-slider img { 
	float: right; 
}

.porfolio-slider:after { 
	font-size: 150px; 
	position: absolute; 
	z-index: 12; 
	color: rgba(255,255,255, 0); 
	left: 300px; top: 80px; 
	-webkit-transition: 1s all ease-in-out; 
	-moz-transition: 1s all ease-in-out; 
	transition: 1s all ease-in-out; 
}

.porfolio-slider:hover:after { 
	color: rgba(255,255,255, 0.6);  
}



@-moz-keyframes slider {     
	0% {
		left: 0; opacity: 0; 
	}     
	2% {
		opacity: 1; 
	}     
	20% {
		left: 0; opacity: 1; 
	}     
	21% {
		opacity: 0; 
	}     
	24% {
		opacity: 0; 
	}     
	25% {
		left: -768px; opacity: 1; 
	}       
	45% {
		left: -768px; opacity: 1; 
	}     
	46% {
		opacity: 0; 
	}     
	48% {
		opacity: 0; 
	}     
	50% {
		left: -1536px; opacity: 1; 
	}     
	70% {
		left: -1536px; opacity: 1; 
	}     
	72% {
		opacity: 0; 
	}     
	74% {
		opacity: 0; 
	}    
	75% {
		left: -2304px; opacity: 1; 
	}   	
	95% {
		left: -2304px; opacity: 1; 
	}   	
	97% { 
		left: -2304px; opacity: 0;
	}   	
	100% {
		left: 0; opacity: 0; 
	}
} 

@-webkit-keyframes slider {     
	0% {
		left: 0; opacity: 0; 
	}     
	2% {
		opacity: 1; 
	}     
	20% {
		left: 0; opacity: 1; 
	}     
	21% {
		opacity: 0; 
	}     
	24% {
		opacity: 0; 
	}     
	25% {
		left: -768px; opacity: 1; 
	}       
	45% {
		left: -768px; opacity: 1; 
	}     
	46% {
		opacity: 0; 
	}     
	48% {
		opacity: 0; 
	}     
	50% {
		left: -1536px; opacity: 1; 
	}     
	70% {
		left: -1536px; opacity: 1; 
	}     
	72% {
		opacity: 0; 
	}     
	74% {
		opacity: 0; 
	}    
	75% {
		left: -2304px; opacity: 1; 
	}   	
	95% {
		left: -2304px; opacity: 1; 
	}   	
	97% { 
		left: -2304px; opacity: 0;
	}   	
	100% {
		left: 0; opacity: 0; 
	}
} 


@keyframes slider {     
	0% {
		left: 0; opacity: 0; 
	}     
	2% {
		opacity: 1; 
	}     
	20% {
		left: 0; opacity: 1; 
	}     
	21% {
		opacity: 0; 
	}     
	24% {
		opacity: 0; 
	}     
	25% {
		left: -768px; opacity: 1; 
	}     
	45% {
		left: -768px; opacity: 1; 
	}     
	46% {
		opacity: 0; 
	}     
	48% {
		opacity: 0; 
	}     
	50% {
		left: -1536px; opacity: 1; 
	}     
	70% {
		left: -1536px; opacity: 1; 
	}     
	72% {
		opacity: 0; 
	}     
	74% {
		opacity: 0; 
	}    
	75% {
		left: -2304px; opacity: 1; 
	}   	
	95% {
		left: -2304px; opacity: 1; 
	}   	
	97% { 
		left: -2304px; opacity: 0; 
	} 

	100% {
		left: 0; opacity: 0; 
	}
}