/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Source+Sans+Pro&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Fira Sans', sans-serif;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ===============HEADER================= */

.container {
    max-width: 1052px;
    /* padding: 0 15px; */
    margin: 0px auto;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

.clear {
    clear: left;
}

header {
    height: 65px;
    width: 100%;
    background-color: #f7d794;
    position: fixed;
    top: 0;
    z-index: 10;
}

.header-left {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
}

.header-right {
    float: right;
    margin-right: -25px;
}

.header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
}

.header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display: none;
}
.fa {
  margin-right: 5px;
}

/* =========== SLIDESHOW =========== */
.slideshow {
    height: 350px;
    background-image: url(../img/bg-img-slideshow.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
    /* margin-top: 100px;
    Tergantung header*/
}

.slideshow .container {
    width: 400px;
    height: 300px;
    margin: 0 auto;
    padding-top: 40px;
}

.image {
    background-image: url(../img/aso.jpg);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid rgb(71, 71, 71);
    margin: 0 auto;
    animation: 40s animasi infinite;
}

@keyframes animasi {
    0% {
        background-image: url(../img/aso-thumb.jpg);
    }

    20% {
        background-image: url(../img/ayuagst.png);
    }

    40% {
        background-image: url(../img/foto_profil_aziz.png);
    }

    60% {
        background-image: url(../img/thumbs-captain-amerika.jpg);
    }

    80% {
        background-image: url(../img/thumbs-spiderman.jpg);
    }

    100% {
        background-image: url(../img/aso-thumb.jpg);
    }
}

.slideshow .judul {
    margin-top: 60px;
    text-align: center;
    font-size: 45px;
    text-shadow: 0px 2px 2px rgb(66, 65, 65);
}

/* =========== PROFIL KAMI =========== */

.profile h1 {
    text-align: center;
    padding: 20px;
}

.profile {
    width: 100%;
    height: auto;
    /*coba tinjau ulang*/
    background-color: #EAE9EE;
    padding-bottom: 40px;
}

.card img {
    width: 120px;
    padding: 10px;
    border-radius: 50%;
    margin: auto;
}

.profile-atas {
    width: 75%;
    /*masing-masing orang 25%*/
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.profile-bawah {
    width: 50%;
    /*masing-masing orang 25%*/
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.card {
    width: 100%;
    height: auto;
    margin: 20px;
    border-radius: 10px;
    background-color: rgb(206, 190, 178);
    /*sesuaikan*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
    text-align: center;
}

.box h2 {
    text-align: center;
}

.box {
    height: auto;
    background-color: #3C89C5;
    /*sesuaikan*/
    color: white;
    font-size: 14px;
    text-align: justify;
    padding: 20px;
    border-radius: 10px;
}